{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'site-form'}}) }}
       {{ form_row(registrationForm.firstname, {
           label: 'Firstname'
       }) }}
       {{ form_row(registrationForm.lastname, {
           label: 'Apellido'
       }) }}
       {{ form_row(registrationForm.phone, {
           label: 'Telefono'
       }) }}
       {{ form_row(registrationForm.email, {
           label: 'Correo'
       }) }}
       {{ form_row(registrationForm.plainPassword, {
           label: 'Contraseña'
       }) }}
       {{ form_row(registrationForm.agreeTerms, {
           label: 'Esta de acuerdo con las politicas de privacidad'
       }) }}

       <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
